/* 노멀라이즈 */
body, ul , li {
  margin: 0;
 padding: 0; 
 list-style: none;
}
a {
 color: inherit;
 text-decoration: none;
}
* {
 box-sizing:border-box;
}

/* 라이브러리 */
.con{
 margin-left:auto;
 margin-right:auto;
}
.con {
 width:990px;
}
.flex {
 display:flex;
}
.flex-col {
 flex-direction:column;
}
.flex-grow{
 flex-grow:1;
}
.flex-shrink-0 {
 flex-shrink:0;
}
.align-center{  
align-items:center;
}
.justify-center {
 justify-content:center;
}
.bg-pink{
 background-color:pink;
}
/* 커스텀 */

/* 탑바 */
.top-bar {
 height:112px;
}
.top-bar > .cgv-logo > a > img {
 width:40%;
 padding:10px;
}

.log-in > li > a {
 display:flex;
 flex-direction: column;
 justify-content:center;
 align-items:center;
 padding:5px;
}
.log-in > li > a >img {
width:50%;
}
.log-in > li > a > span {
 font-size: 80%;
}

/* 메뉴바 */

.menu-top-bar {
 border-top:1px solid #f1f1f1;
 border-bottom:2px solid #fb4357;
 z-index:10;
 background-color:white;
 height:53px;
 position:relative;
}

/* 메가메뉴 */
.nav-box {
  height:50px;
  overflow:hidden;
  position:absolute;
  width:100%;
  top:0;
  left:0;
  transition: 0.5s;
  background-color:white;
  z-index: 9;
}

.nav-box.active{
  height:320px;
}


.menu-bar > ul > li > a {
 display:block;
 padding: 15px 20px;
 font-weight:bold;
}

.menu-bar > ul > li:nth-child(3) > a {
 color: red;
}

.search {
 position:absolute;
 left:750px;
 top:0;
}
.search > a > input {
border: 1px solid white;
padding: 8px;  
}
.search > a > i {
 font-size:150%;
 padding:10px;
}
.search::before,
.search::after {
content:"l";
font-size:150%;
 padding-top:5px;
 color: #cacaca;
}

.menu-bar {
 position:absolute;
 width:100%; 
}

.menu-bar > ul > li > ul {
 position:absolute;
 top:50px;
 height: 250px;
 border-left: 1px solid #f1f1f1;
 z-index:9;
}
.menu-bar > ul > li:first-child > ul {
  border-left:0;
 }

.menu-bar > ul > li > a {  
position:absolute; 
 top:0;
}


.menu-bar > ul > li {
 width:160px;
/*  임의로 지정~!  */
}

.menu-bar > ul > li:nth-child(2) > a {
 left:70px;
}
.menu-bar > ul > li:nth-child(3) > a {
 left:140px;
}
.menu-bar > ul > li:nth-child(4) > a {
 left:210px;
}
.menu-bar > ul > li:nth-child(5) > a {
 left:290px;
}
.menu-bar > ul > li:nth-child(6) > a {
 left:370px;
} 




.menu-bar > ul > li > ul > li > a {
 display:block;
 padding:5px;
 padding-left: 20px;
 font-size:85%;
}

.menu-bar > ul > li > ul > li:first-child > a{
 font-weight:bold;
}
.menu-bar > ul > li > ul > li:hover > a {
 text-decoration:underline;
}


/* 동영상 배너 */
.video-banner {
 width: 100%;
 height:498px;
 background-color:black;
 margin-left:auto;
 margin-right:auto;
}
.video-banner > video {
 display:flex;
 margin-left:auto;
 margin-right:auto;
 width:990px;
 height:498px;
}

/* 섹션-1 */

/* section-1-1 */
.section-1 {
  width:100%;
  height:462px;
  background-color:#f9f9f9;
}

.movie-chart > a > h1 {
  padding: 20px 10px;
}
.movie-chart > a > h1 {
  color: #6b645e;
}
.movie-chart > a.active2 > h1 {
  color: #22241f;
}

.full-view {
  width: 100px;
  height:30px;
  background-color:white;
  font-size:90%;
  font-weight:bold;
  color:#1f2012;
  border-radius:20px;
  border:1px solid #e2e2e2;
}

/* section-1-2 */
.section-1-2-1,
.section-1-2-2{
  width:100%;
  height:350px;
}
.section-1-2-1 > div > div > a > img,
.section-1-2-2 > div > div > a > img{
  width: 190px;
  border-radius:10px;
}
.section-1-2-1 > div > div, 
.section-1-2-2 > div > div{
  position:relative;
  width:190px;
  height:271px;
  margin-right: 10px;
}
.section-1-2-1 > div:nth-child(5) > div,
.section-1-2-2 > div:nth-child(5) > div{
  margin-right:0;
}
/* 영화이미지 위 호버버튼  */
.section-1-2-btn {
  position:absolute;
  top:0;
  left:0;
  display:none;
}
.section-1-2-btn-bg {
  width: 190px;
  height: 271px;
  background-color:black;
  opacity:30%;
  border-radius:10px;
}
.section-1-2-btn-de {
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.section-1-2-btn > div > div {
  width: 140px;
  height: 43px;
  opacity:100%;
  border-radius: 7px;
  display:flex;
  align-items:center;
  justify-content:center;
  margin:auto;
  margin-top: 10px;
  font-weight:bold;
}
.detail {
  background-color:white;
}
.reserve {
  background-color: #e35060;
  color:white;
}
.section-1-2-btn > div > div:hover {
  opacity:70%;
}

.section-1-2-1 > div > div:hover .section-1-2-btn,
.section-1-2-2 > div > div:hover .section-1-2-btn{
  display:block;
  cursor:pointer;
}
/* 영화이미지 밑 영화제목*/

.movie-title {
  display:flex;
  justify-content:center;
  font-size: 100%;
  font-weight:bold;
  margin: 10px 0 5px 5px;
   white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}

.movie-content {
  display:flex;
  justify-content:center;
}
.movie-content > img {
  width:10%;
  height: 20%;
  margin-top:8px;
}
.movie-content > span {
  padding:7px;
  font-size:90%;
  font-weight:bold;
  color:#080c18;
}
.section-1-2 > div {
  display:none;
}
.section-1-2 > div.active2 {
  display: flex;
}

/* 섹션 2 */
.section-2 {
  width: 100%;
  height: 395px;
/*   background-color: gold; */
}
.event > a > h1 {
  padding: 20px 10px;
  color: #22241f;
}

/* 섹션2 슬라이드 */
.section-2-2 input[id*="slide"] {
  display:none;
}
.section-2-2 {
  position:relative;
}
.section-2-2 .slidewrap {
  max-width: 990px;
  margin: 0 auto;
  overflow:hidden;
}
.section-2-2 .slidelist {
  white-space:nowrap;
  font-size:0;
}
.section-2-2 .slidelist > li {
  display: inline-block;
  vertical-align:middle;
  width: 100%;
  transition: all ,1s;
}
.section-2-2 .slidelist > li > a > div > img {
  width:310px;
/*   margin-right:20px;
  border-radius:10px; */
}
.section-2-2 .slidelist > li > a > div {
    overflow:hidden;
  border-radius:10px;
  margin-right: 20px;
}

.section-2-2 .slidelist > li > a > div:hover > img {
  transform:scale(1.1);
  transition: transform ,0.5s;

}


.section-2-2 .slidelist label {
  position:absolute;
  z-index: 10;
  top: 50%;
  transform: translatey(-50%);
  padding:50px;
  cursor: pointer;
}
.section-2-2 .slidelist .left {
  left:-50px;
  background:url('https://i.postimg.cc/KzHV5nyS/image.png') center center / 60% no-repeat;
  opacity:70%;
}
.section-2-2 .slidelist .right {
  right: -30px;
  background:url('https://i.postimg.cc/XJ1MDRdP/image.png') center center / 60% no-repeat;
  opacity:70%;
}


.section-2-2 [id="slide01"]:checked ~ .slidewrap .slidelist > li {
  transform: translatex(0%);
}
.section-2-2 [id="slide02"]:checked ~ .slidewrap .slidelist > li {
  transform: translatex(-100%);
}
.section-2-2 [id="slide03"]:checked ~ .slidewrap .slidelist > li {
  transform: translatex(-200%);
}

.section-2-2 .slide-control [class*="control"] {
  display:none;
}
.section-2-2 [id="slide01"]:checked ~ .slidewrap .control01 {
  display: block;
}
.section-2-2 [id="slide02"]:checked ~ .slidewrap .control02 {
  display: block;
}
.section-2-2 [id="slide03"]:checked ~ .slidewrap .control03 {
  display: block;
}

/* 섹션3 */
.section-3 {
  height: 400px;
}
.section-3-2-img {
  width: 500px;
}
.section-3-2 > div > a > img {
  width: 500px;

 }
.section-3-content {
  width: 450px;
  height: 250px;
}
.section-3-content > div {
  width: 450px;
  height: 25%;
  display:flex;
 }

.section-3-content > div > a {
  width:100%;
  display:flex;
  height:100%;
  align-items:center;
  padding: 10px;
  border-top: 1px solid #e9e9e9;
}
.section-3-content > div:last-child > a {
  border-bottom: 1px solid #e9e9e9;
}
.section-3-content > div > a > span:nth-child(1) {
  flex-grow:1;
  font-size:1.2rem;
}
.section-3-content > div > a > span:nth-child(2) {
  flex-shrink:0;
  font-size:0.9rem;
  background-color:#f6f6f6;
  padding:3px;
  border-radius:5px;
  color: #6c6b69;
}
.section-3-content > div:hover > a{
  border : 1px solid black;
  border-radius: 10px;
  font-weight: bold;
}
.section-3-2-img > a {
  display:none;
}
.section-3-2-img > a.active3 {
  display:block;
}

/* section4 */
.section-4 {
  margin-top: 50px;
}
.section-4-box {
  width:33%;
  height:376px;
  border: 1px solid #e9e9e9;
  border-radius:10px;
  margin-right:30px;
}
.section-4-box:last-child {
  margin-right: 0;
}
.section-4-box > ul > li {
  display:flex;
  align-items:center;
}
.section-4-box > div > h3{
  padding: 0 20px;
}
.section-4-box > div > a {
  padding: 0 10px;
  margin-right: 10px;
  font-size: 0.8rem;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
}
.section-4-box > ul > li > img {
  width:100px;
  margin-right:10px;
  margin-left: 15px;
}

.section-4-box > ul > li > a > span {
  font-size: 90%;
  font-weight:bold;
}
.section-4-box > ul > li > a > h4 {
  margin-top: 5px;
  margin-bottom:0;
}

.test {
  width: 100px;
  height: 100px;
  background-color: blue;
}
/* section-5 */
.section-5 {
  margin-top: 30px;
}
.section-5-1 {
  width: 510px;
  height: 236px;
  border: 1px solid #e9e9e9;
  border-radius: 10px 0 0 10px;
  
}
.section-5-1-notice {
  border-bottom:1px solid #e9e9e9;
}
.section-5-1-notice > span {
  padding: 20px;
  font-weight:bold;
}
.section-5-1-notice-content {
  font-size: 0.9rem;
  white-space:nowrap;
  overflow:hidden;
  text-overflow:ellipsis;
}
.section-5-1-notice-content:hover {
  text-decoration:underline;
}
.section-5-1-notice-more {
  padding: 0 10px;
  margin-right: 20px;
  margin-left: 10px;
  font-size: 0.8rem;
  border: 1px solid #e9e9e9;
  border-radius: 10px;
}

.section-5-1-cs > span:first-child {
    padding: 20px;
  font-weight:bold;
}

.section-5-1-cs > span:nth-child(2) {
  font-size: 0.9rem;
  
}
.section-5-1-cs > span:nth-child(2) > h4 {
  margin-bottom: 5px;
  font-size:1rem;
}
.section-5-1-qa {
  margin-top: 15px;
  margin-left: 10px;
}
.section-5-1-qa > div > a {
  display: block;
  padding:10px;
  border-radius: 5px;
  margin: 7px;
  background-color:#e9e9e9;
  font-size: 0.9rem;
}


.section-5-2 {
  width: 220px;
  height: 236px;
  border: 1px solid #e9e9e9;
  border-left: 0;
  border-radius: 0 10px 10px 0;
  margin-right: 10px;
}